.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto
deleteme/all_new_vocab_with_synonyms.csv
deleteme/complete_master_vocabulary_fixed.csv
deleteme/complete_master_vocabulary.csv
deleteme/hspt_vocab.csv
deleteme/master_vocabulary.csv
deleteme/new_vocab_with_synonyms.csv
deleteme/new_words.csv
deleteme/parse_new_vocab.R
deleteme/temp
deleteme/test_complete_flashcards.csv
deleteme/test_flashcards.csv
deleteme/vocabulary.csv
deleteme/words.txt
